<!DOCTYPE html>
<html>
  <head>
    <title>SU2020</title>
    <link href="style.css" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <header>
      <h1>visual organization</h1>
    </header>
    <h2>daniel chang, samuel liu</h2>
    <section>
      <div1>
        <a href="https://www.google.com/" style="color: orange">google</a>
      </div1>
      <div2>
        <a href="https://www.facebook.com/" style="color: lightskyblue">facebook</a>
      </div2>
      <div3>
        <a href="https://www.amazon.com/" style="color: yellowgreen">amazon</a>
      </div3>
    </section>
    <img src="https://images.unsplash.com/photo-1494253109108-2e30c049369b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" width="682">
    <footer>the goal of this app is for users to organize elements visually rather than with lists and file folders</footer>
  </body>
</html>